body,
html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  background: url(./img/wp2697274-green-hacker-skull-wallpaper-hd.jpg) repeat center center fixed;
  background-size: cover;
}

/*=============================================
=                     HEADER                 =
=============================================*/

header {
  margin-top: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  position: relative;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
header > img {
  width: 6em;
  height: 6em;
  border-radius: 100%;
  border: 1px solid #fff;
  box-shadow: rgb(28 32 93 /24%) 0px 2px 8px 0px;
}
header > h1 {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 1em;
  background-color: #000a;
  color: #fff;
  padding: 0.3em 0.6em;
  border: 1px solid #fffa;
}
ul {
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  padding: 2em;
}
ul > li {
  /* width: 700px; */
  background-color: #fffa;
  backdrop-filter: blur(10px) saturate(100%) contrast(180%);
  border-radius: 10em;
  padding: 9px;
  margin: 1.4em 0;
  box-shadow: rgb(28 32 93 /24%) 0px 2px 8px 0px;
}
ul > li > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

a {
  color: black;
  text-decoration: none;
}
